* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea,
button {
  font: inherit;
}

:root {
  --primary-color: rgb(78, 63, 20);
  --text-color: yellow;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.headline {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.8rem;
}

.holder {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  padding-left: 0.8rem;
  gap: 0.4rem;
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 2em 0;
  cursor: pointer;
}

.entry {
  background-color: #eee;
  max-width: unset;
  min-height: 8rem;
}
